<div style="height: 100vh;">
  <div>
      <div class="columns" style="padding-top: 25px; font-family: 'Space Grotesk', sans serif; padding-bottom: 80px;">
        <div class="column is-tablet is-two-thirds-desktop">
          <h1 style="font-weight: 500; padding-top: 30px; font-size: 4rem; padding-bottom: 40px; padding-left: 20px">Welcome to UQuiz!</h1>
          <h2 style = "font-family: 'Space Grotesk', sans serif; font-size: 1.5rem; padding-bottom: 10px; padding-left: 20px">
           Submit your questions, test your mind, have fun with your friends and family!</h2>
          <div style="padding-left: 40px; padding-top: 20px;">
            <a href="/account">
              <button class="button is-success" type="submit" id="to-account" style="font-size: 1.5rem; background-color: #D40000; color: white; width:fit-content;">
              Go to your account 
              </button>
            </a>
          </div>
        </div>

        <div class="column" style="margin-top:-10px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; padding-top: 50px">
          <img src="funquiz.jpg" style="clip-path: xywh(0 5px 100% 100% round 20% 0); height: 350px;">
        </div>
    </div>
  </div>
</div>

<script src="/controllers/homeRoutes.js"></script>

